.room-btns {
    display: none;
  }
#roomButton, #checkInButton, #cleanButton, #checkOutButton {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
#infoInput {
    display: none;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.separator {
    display: flex;
    margin-top: 50px; /* 可以根据需要调整间距 */
    width: 100%;
    height: 500px;
    border: 2px solid #000; /* 黑色实线边框 */
    margin: 20px; /* 为了更好地展示边框，添加一些外边距 */

}
.separator1 {
    display: flex;
    margin-top: 50px; /* 可以根据需要调整间距 */
    width: 650px;
    height: 500px;
    border: 2px solid #000; /* 黑色实线边框 */
    margin: 20px; /* 为了更好地展示边框，添加一些外边距 */
    flex-wrap: wrap;
    justify-content: space-between;

}

.left-section {
    flex: 1;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.right-section {
    text-align: center;
    flex: 1;
    background-color: #e0e0e0;
    padding: 20px;
    margin-top: 10px;
    
}
.customer-info {
    display: none;
}
h1 {
    font-size: 20px;
}
.function-left{
    width: 30%;
    background-color: aqua;
}
.function-right{
    width: 70%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*.button1{
    text-align: center;
    line-height:  10px;
}*/
.function-h1{
    font-size: 15px;
    text-align: center;
    line-height: 100px;
}
.room101{
    margin-top: 5px; /* 可以根据需要调整间距 */
    width: 190px;
    height: 190px;
    border: 2px solid #000; /* 黑色实线边框 */
    margin: 10px; /* 为了更好地展示边框，添加一些外边距 */
    background-color: blueviolet;

}
.room {
    font-size: large;
    color: black;
    font-weight: bold;
    width: 30%; /* 每行显示三个房间，每个房间占30%的宽度 */
    margin-bottom: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 10px;
    background-color:burlywood;
}

