<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
</head>
<body>
    <a href="home.html">ホームページ</a><br>
    <a href="room101.html">部屋101</a><br>
    <a href="room102.html">部屋102</a><br>
    <a href="room103.html">部屋103</a><br>
    <a href="room201.html">部屋201</a><br>
    <a href="room202.html">部屋202</a><br>
    <a href="room203.html">部屋203</a><br>
    <a href="room301.html">部屋301</a><br>
    <a href="room302.html">部屋302</a><br>
    <a href="room303.html">部屋303</a><br>
    <a href="content.html">test</a><br>
</body>
</html>
