<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_base.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <audio id="notificationSound" preload="auto">
        <source src="{{ url_for('static', filename='notification.mp3') }}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
</head>
<body>

    <header>
        {% block header %}
        {% endblock %}
    </header>

    <main>
        <div class="center-box">
            <div>
                <h1>XXXホテル</h1>
            </div>
            <div class="center-box-mes">
                {% block message %}
                {% endblock %}
              </div>
              <div class="center-box-progress">
                <progress id="countdown" value="100" max="100"></progress>
            </div >
                <table class="center-box-button">
                    <tr>
                        <td colspan="2">
                            <button id="roomButtonsY" onclick="rehome('Y')">はい</button>
                            <button id="roomButtonsN" onclick="rehome('N')">いいえ</button>
                        </td>
                    </tr>
                </table>
            </div>
            {% block main_box %}
            {% endblock %}
        </div>
        {% block js %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 房间</p>
    </footer>

</body>
</html>