<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>部屋102</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_base.css') }}">
</head>
<body>

    <header>
        <h1>部屋102</h1>
    </header>

    <main>
        <div class="center-box">
          <div>
            <h1>よこそう</h1>
          </div>
          <div class="center-box-mes">
            <h2>ひとがいないですか？</h2>
          </div>
      		</div>
    </main>

    <footer>
        <p>&copy; 2023 房间</p>
    </footer>

</body>
</html>
