<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>部屋102</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_base.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
</head>
<body>

    <header>
        <h1>部屋102</h1>
    </header>

    <main>
        <div class="center-box">
            <div>
                <h1>XXXホテル</h1>
            </div>
            <div class="center-box-mes">
                <h2 id="display">{{ message }}</h2>
            </div>
            <form name="form01" action="/" method="post" class="center-box-button">
                <table>
                    <tr>
                        <td colspan="2">
                            <button type="submit" name="choice" value="Y">はい</button>
                            <button type="submit" name="choice" value="N">いいえ</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>


    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('display_message', function(message) {
            document.getElementById('display').innerHTML = message;
        });
    </script>
    </main>

    <footer>
        <p>&copy; 2023 房间</p>
    </footer>

</body>
</html>
